.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.doAction {
  display: flex;
  flex-direction: row;
  border: 2px solid #529050;
  border-radius: 20px;
  padding: 8px 16px;
  background-color: transparent;
  align-items: center;
  gap: 8px;
  justify-content: center;
  color: black;
}
.column {
  flex: 0 0 30%;
  text-align: center;
}
