.day-schedule {
    margin-bottom: 2rem;
    flex: 0 1 calc(20% - 10px);
    width: auto;
  
  }

  
  .day-schedule h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .day-schedule ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: flex-start;
  }
  
  .day-schedule li {
    
    border-radius: 5px;
    padding: px;
    margin-bottom: 10px;
  }
  
  