.schedule {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  flex-wrap: wrap;
  max-width: 2000px;
}

.day-column {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  overflow-x: auto;
}