.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: auto;
}
.attendanceOverall {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  gap: 16px;
}
.chartContainer {
  display: flex;
  flex-direction: row;
}
.days {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 22px;
  left: 40px;
  top: 28px;
}
.attendanceGraph {
  background-color: white;
  border-radius: 32px;
  padding: 32px 32px 32px 56px;
  display: grid;
  grid-template-rows: repeat(7, 1fr); /* days of the week */
  grid-template-columns: repeat(52, 1fr); /* weeks of the year */
  gap: 4px;
}
.title {
  width: 100%;
  display: flex;
  justify-content: left;
}
.contributionDay {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}

.attendance100 {
  background-color: #196127;
}

.attendance75 {
  background-color: #239a3b;
}

.attendance50 {
  background-color: #7bc96f;
}

.attendance25 {
  background-color: #c6e48b;
}

.attendance0 {
  background-color: #e0e0e0;
}
